<!DOCTYPE html>
<html>
  <head>
  
  
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <img src="https://api.chucknorris.io/img/chucknorris_logo_coloured_small@2x.png" alt="chucknorris_logo_coloured_small">

    <form action="/" method="POST">
      <h3>
        Best Chuck Norris Jokes
        <small class="text-muted">on the Internet!</small>
      </h3>
   
      <p>Please select your favorite category:</p>
      <input type="radio" id="career" name="category" value="career">
      <label for="html">career</label><br>
      <input type="radio" id="celebrity" name="category" value="celebrity">
      <label for="celebrity">celebrity</label><br>
      <input type="radio" id="animal" name="category" value="animal">
      <label for="javascript">animal</label>
    
    <br>
  <button  class="btn btn-danger">Ready to laugh ?🤣 </button>





  <section>
    
  <blockquote class="blockquote text-center">
    <p class="mb-0"><%= jokeBody  %></p>
    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
  </blockquote>

</section>

 
  </body>
</html>
